@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}


/*----------INDEX.HTML--------------*/
/*HEADER*/

header{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav-link{
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    transition: all 200ms ease;
}

.nav-link:hover{
    color: #764321;
}

.navbar-nav{
    display: flex;
    list-style-type: none;
}

.nav-item{
    margin: 30px;
}

.header-localidad a{
    text-decoration: none;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    transition: all 100ms ease;
}

.header-localidad a:hover{
    color: #7e7e7e;
}

/*MAIN*/

.section1{
    background-color: #864c24;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.section1 .section1-texto{
    color: #f4f4f4;
    width: 50%;
    margin: 0 auto;
}


.section1 .section1-texto h2{
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.section1 .section1-texto p{
    font-size: 19px;
    width: 100%;
    text-align: center;
}

@media (max-width: 965px){
    .section1, .section2{
        flex-direction: column;
    }

    .section1 div img, .section2-img img{
       border-radius: 6px;
    }

    .section1 .section1-texto{
        width: 70%;
    }

    .section2-img img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

}



.section2{
    background-color: #9e7050;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}


.section2-texto h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.section2-texto p{
    font-size: 20px;
    margin-bottom: 20px;
}

.section2-texto button{
    background-color: #9e7050;
    color: black;
    padding: 6px 22px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    transition: all 270ms ease;
}

.section2-texto button:hover{
    cursor: pointer;
}

.section2-texto button:focus{
    background-color:black;
    color: #9e7050;
}



/*FOOTER*/

.footer-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.footer-nosotros ul, .footer-contactos ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-nosotros ul li a, .footer-contactos ul li a{
    text-decoration: none;
    color: #767676;
    transition: all 100ms ease;
}

.footer-nosotros ul li a:hover, .footer-contactos ul li a:hover{
    color: #0b0b0b;
}

.footer-nosotros ul li, .footer-contactos ul li{
    list-style: none;
    text-align: left;
}

.footer-derechos{
    text-align: center;
}

/*-------------mediaquerys-----------*/

@media (max-width: 600px){
    .section1 div img, .section2-img img{
        width: 420px;
    }

    .section1 .section1-texto p{
        font-size: 15px;
        width: 100%;
    }

}

@media (max-width: 420px){
    .section1 div img, .section2-img img{
        display: none;
    }

    .section1 .section1-texto p{
        font-size: 13px;
        width: 100%;
    }

    .section2-texto button{
        margin-bottom: 20px;
    }

}

@media (max-width: 375px){
    .footer-links{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-contactos{
        margin-top: 30px;
    }
}

/*---------------MENU.HTML--------------*/

.menu h1{
    background-color: #52310E;
    color: #f4f4f4;
    margin: 40px auto;
    text-align: center;
    font-weight: bolder;
    border-radius: 30px;
    width: 50%;
}

.bebidas-com h3{
    width: 80%;
    margin: 15px auto;
    font-size: 21px;
}

.bebidas h2{
    width: 80%;
    margin: 20px auto;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.bebidas-com hr{
    width: 80%;
    margin: 15px auto;
}

.bebidas-esp h3{
    width: 80%;
    margin: 15px auto;
    font-size: 21px;
}

.bebidas-esp{
    margin-bottom: 100px;
}

.bebidas-esp hr{
    width: 80%;
    margin: 15px auto;
}


.comidas h2{
    width: 80%;
    margin: 20px auto;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.comidas-1 h3{
    width: 80%;
    margin: 15px auto;
    font-size: 21px;
}

.comidas-1 hr{
    width: 90%;
    margin: 15px auto;
}


.card img{
    width: 120px;
    border-radius: 120px;
}

.card{
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    background-color: #52310E;
    border-radius: 120px;
    transition: all 180ms ease;
}

.card:hover{
    width: 195px;
    height: 195px;
}

.card-body h5{
    color: #f4f4f4;
    font-size: 16px;
}

.row{
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

@media (max-width: 791px){
    .card{
        width: 150px;
        height: 150px;
    }
    .card img{
        width: 90px;
        border-radius: 120px;
    }
    .card-body h5{
        font-size: 13px;
    }
}

@media (max-width: 767px){
    .row{
        width: 30%;
        margin: auto;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}


@media (max-width: 440px){
    .row{
        width: 50%;
        margin: auto;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 287px){
    .row{
        width: 73%;
        margin: auto;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}


/*-------------CONTACTO.HTML-----------*/




/*-------------NOSOTROS.HTML------------*/





/*------------UBICACION.HTML-------------*/