$primary-bg-color: #f4f4f4;
$nav-link-color: black;
$nav-link-hover-color: #764321;
$nav-link-font-family: 'Fira Sans', sans-serif;
$nav-link-font-weight: 600;
$nav-link-transition: all 200ms ease;
$nav-item-margin: 30px;
$header-localidad-color: black;
$header-localidad-hover-color: #7e7e7e;
$header-localidad-transition: all 100ms ease;

