.section2{
    background-color: #9e7050;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    .section2-texto{
        h2{
            font-size: 40px;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
            margin-bottom: 20px;
        }
        button{
            background-color: #9e7050;
            color: black;
            padding: 6px 22px;
            border: 1px solid black;
            border-radius: 15px;
            font-size: 16px;
            font-weight: 600;
            transition: all 270ms ease;
        }
        button:hover{
            cursor: pointer;
        }
        button:focus{
            background-color:black;
            color: #9e7050;
        }
    }
}