.section1{
    background-color: #81563a;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
    .section1-texto{
        color: #f4f4f4;
        width: 50%;
        margin: 0 auto;
    }
}